.divider {
  margin: 0 15px;
  display: inline-block;
  height: 8px;
  width: 1px;
  background: #ccc;
}

.pagination {
  float: right;
  margin-top: 15px;
}

.formItem {
  margin-bottom: 15px !important;
}

.formItemInput {
  width: 100% !important;
}

.logo {
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
  background: #333;
}

.logout {
  position: absolute;
  font-size: 24px;
  top: 18px;
  right: 18px;
  color: #595959;
}

.layout {
  position: relative;
  min-height: 100%;
}

.layoutHeader {
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

.layoutHeaderMenu {
  text-align: right;
}

.layoutSider {
  position: absolute;
  overflow: visible;
  overflow-y: auto;
  overflow-x: hidden;
  width: 200px;
  height: 100%;
  background: #404040;
}

.layoutSiderMemu {

}

.layoutContent {
  position: absolute;
  overflow: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  left: 200px;
  right: 0px;
  height: 100%;
  background: #ececec;
}

.layoutMain {
  position: absolute;
  overflow: visible;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 80px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 0px 15px 15px 15px;
  background: #ffffff;
}

.layoutMainHeader {
  height: 60px;
  line-height: 60px;
}

.layoutMainHeaderMenu {
  text-align: right;
}

.layoutMainHeaderMenuButton {
  margin-right: 10px;
}

.layoutMainSearch {
  padding: 15px 15px 0PX 0PX;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
}
