.divider {
  margin: 0 15px;
  display: inline-block;
  height: 8px;
  width: 1px;
  background: #ccc;
}

.pagination {
  float: right;
  margin-top: 15px;
}

.formItem {
  margin-bottom: 15px !important;
}

.formItemInput {
  width: 100% !important;
}

.logo {
  background: #333;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 3px;
}
.trigger {
  font-size: 20px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.notification {
  position: absolute;
  font-size: 20px;
  top: 18px;
  right: 68px;
}

.notificationMessage {
  color: #595959;
}

.logout {
  position: absolute;
  font-size: 20px;
  top: 18px;
  right: 18px;
  color: #595959;
}

.layout {
  position: relative;
  min-height: 100%;
}

.layoutHeader {
  padding: 0px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

.layoutSider {
  position: absolute;
  overflow: visible;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #404040;
}

.layoutContent {
  margin: 17px 15px;
  padding: 0px 15px 15px 15px;
  background: #ffffff;
}

.layoutContentHeader {
  height: 60px;
  line-height: 60px;
}

.layoutContentHeaderMenu {
  text-align: right;
}

.layoutContentHeaderMenuButton {
  margin-right: 10px;
}

.layoutContentHeaderSearch {
  padding: 15px 15px 0PX 0PX;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 15px;
}
